<div id="content">
  <%= image_tag "slider_graphic.jpg", size:'390x190', style:'margin-left:31px' %>
  <br/>
  <br/>
  <h1>With Family Groups, you can follow local activities, groups and places, and then meet other parents through your common interests.
  <br/>
  <br/>
  1. Create an account. It's free and easy.
  <br/>
  <br/>
  2. Check out local activities, places, groups and interests. Follow ones you like most to add them to your profile and get updates.
  <br/>
  <br/>
  3. Through your interests and activities, we'll suggest other parents you might get along with nearby. Reach out to them with questions or just say hello.
  <br/>
  <br/>
  4. Invite friends to join and grow the Family Groups community!</h1>
  <%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white" %> 
</div>