<div id="content">
  <%= image_tag "slider_graphic.jpg", size:'390x190' %>
  <br/>
  <br/>
  <h1>With Family Groups, you can follow local activities, groups and places, and then meet other parents through your common interests.</h1>
  <h1>Ask for parenting advice, invite your friends and discover cool events going on in your town for you and your family.</h1>
  <%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white" %> 
</div>