<div id="content">
<div class="four columns">
    <h3 class="sign_up">So the bad news is you don't yet have an account just yet. But the good news is you can join right now to begin adding your favorite activities and interests.</h3>
</div>