<p>Hello <%= @friend.name %>,</p>

<p>Great news! You've just been friended by <%= @user.name %> <%= @user.last_name %>.</p>

<p><%= link_to "Go to the home page to friend them back", root_path %></p>

<p>Cheers!</p>

<p>From the Family Groups Team</p>