<p>Hello <%= @friend.name %>,</p>

<p>Great news! You've just been friended by <%= @user.name %> <%= @user.last_name %>.</p>

<p>Head to the home page at FamilyGroups.org to friend them back and share messages about local activities, groups and interests.</p>

<p>Cheers!</p>

<p>From the Family Groups Team</p>