<p>Hello!</p>

<p>Great news! You've just received an invite from <%= @user.name %> <%= @user.last_name %> to join FamilyGroups.org</p>

<p>FamilyGroups.org has all the latest family events and groups in your community and seeks to connect great parents to other great parents.</p>

<p>Cheers!</p>

<p>From the Family Groups Team</p>