<p>Hello!,</p>

<p>Great news! You've just received an invite from a friend to join Family Groups.org</p>

<p><%= link_to "Check us out today", root_path %></p>

<p>Cheers!</p>

<p>From the Family Groups Team</p>