<p>Hello <%= @user.name %>,</p>

<p>Congratulations! You've successfully set up an account on Family Groups.</p>

<p>Come back soon to see what other families in your community are up to.</p>

<p><%= link_to "See what's happening around the community", root_path %></p>

<p>Cheers!</p>

<p>From the Family Groups Team</p>