<p>Hello <%= @user.name %>,</p>

<p>Congratulations! You've successfully set up an account on FamilyGroups.org.</p>

<p>Come back soon to see what other families in your community are up to.</p>

<p>Cheers!</p>

<p>From the Family Groups Team</p>