<p>Hello <%= @recipient.name %>,</p>

<p>Great news! You just received mail from a fellow parent at Family Groups.</p>

<p>Log in to check out the message at FamilyGroups.org</p>

<p>Cheers!</p>

<p>From the Family Groups Team</p>