<script>
$('.followed_items_page').on('click', function(e) {
  e.preventDefault();

  $('<div id="dialog-form"></div>').dialog({
        autoOpen: true,
        width: 520,
        modal: true,
        open: function() {
            $(this).append($("<%= escape_javascript(render(:partial => 'places/followed_place', :locals => {:place => place})) %>"));
        },
        close: function() {
        $('#dialog-form').remove();
      }
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
</script>