<script>
$('a.inbox').on('click', function(e) {
  e.preventDefault();

  $('<div id="dialog-form"></div>').dialog({
        autoOpen: true,
        width: 920,
        modal: true,
        open: function() {
            $(this).append($("<%= escape_javascript(render template: "mailbox/index") %>"));
        },
        close: function() {
        $('#dialog-form').remove();
      }
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
</script>