<% if group.image_path.blank? %>
    <%= image_tag group.uploader_image, size: "50", class: "followed_items" %>
 <% else %>
   <div class = "img-wrap1">
   <%= image_tag group.image_path, size: "50", class: "followed_items" %>
   <div class="img-overlay1">
   	<p><%= group.name.truncate(25) %></p>
   </div>
</div>
<% end %>