					<div class="four columns portfolio-item groups">
        				<br />
        				<br />
            			<h4>Click here to create your own Group</h4>
            			<br />
					<%= link_to "Create Group", new_group_path, id: 'create_group', style:"color:white", class: "b-new3" %> 
  					</div>