<div id="follow_form">                      
<div class="four columns portfolio-item groups">
    <div class="our-work">
        <a class="img-overlay">
        <%= image_tag group.photo_url %>
            <div class="img-overlay-div">
            <h4><%= group.id %></h4>
            </br>
            <h5>Placeholder
            </br>
            <%= group.description.html_safe %></h5>
            </div>
        </a>
        <h3><a href="#"><%= group.id %></a><span>features info</span></h3>
    </div>
   </div>
</div>				