<div class="followed_items">
    <% current_user.groups.each do |group| %>
    <%= if group.image_path.blank?; image_tag "/assets/rotate/#{random_image}", size: "40"; else image_tag group.image_path, size: "40"; end %>
    <% end %>
        <% current_user.group_following.each do |followed_group| %>
    <%= image_tag followed_group.image_path, size: "40" %>
    <% end %>
</div>