                <% if current_user.group_following.blank? %>
                <br/>
                  <p class="center">Groups you add to your profile will go here</p>
                <br/>
                <% else %>
                  <% current_user.group_following(:limit => 21).each do |group| %>
                    <%= render :partial => 'groups/followed_groups', :locals => { :group => group } %>
                    <%= render :partial => 'js/followed_groups.js.erb', :locals => { :group => group } %>
                  <% end %>
                  <div id= "see-all" data-no-turbolink>
                    <%= link_to "See All My Groups", group_following_user_path(current_user), class: "clickable" %>
                  </div>
                <% end %>