	<div class = "img-wrap1"> 
    	<%= image_tag interest.image_path, size: "50", class: "followed_items", id: "disappear_follow#{interest.id}" %>
    	<div class="img-overlay1">
   			<p><div class="followed_items1"><%= interest.name.truncate(25) %></div></p>
   		</div>
	</div>
