<div class="four columns portfolio-item interests">
    <div class="our-work">
        <a class="img-overlay">
            <div class= "min-height-activities">
                <%= image_tag interest.image_path %>
            <div class="img-overlay-div">
                <div class="sign_showme"> 
                    <h4><%= interest.name %></h4>
                    </br>
                    <h5><strong>Description:</strong>
                    </br>
                    <%= interest.desc.truncate(125) %></h5>
                </div>
                <div class='sign_showme'>
                  <div class="button1">
                  Follow
                  </div>
                </div>
              </div>
            </div>
        </a>
        <h3><%= link_to interest.name, "#", class: "sign_showme" %></a><span>Learn More</span></h3>
   </div>
</div>