/* Boxed Layout Styles */
/*.hidden {
	display: block;
}
body {
	background: #999;
}
#wrap {
	width:1030px;
	margin: 0 auto;
	background: #fff;
	padding: 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
#wrap > header {
	margin-top: 60px;
}
#wrap > footer {
	margin-bottom: 60px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 1029 (devices and browsers)  */
	/*@media only screen and (max-width: 1049px) {
		#wrap { width: auto; margin: 0; background: #fff; padding: 0; box-shadow: none; }
		#wrap > header { margin-top: 0; }
		#wrap > footer { margin-bottom: 0; }
	}
	
/* Body Backgrounds */
/*body.wood { background: url(../../assets/bgs/retina_wood.png) top left repeat; }
body.greyfloral { background: url(../../assets/bgs/greyfloral.png) top left repeat; }
body.little_pluses { background: url(../../assets/bgs/little_pluses.png) top left repeat; }
body.norwegian_rose { background: url(../../assets/bgs/norwegian_rose.png) top left repeat; }
body.arab_tile { background: url(../../assets/bgs/arab_tile.png) top left repeat; }
body.escheresque { background: url(../../assets/bgs/escheresque.png) top left repeat; }
body.dark_wood { background: url(../../assets/bgs/dark_wood.png) top left repeat; }
body.tex2res1 { background: url(../../assets/bgs/tex2res1.png) top left repeat; }
body.tileable_wood_texture { background: url(../../assets/bgs/tileable_wood_texture.png) top left repeat; }
body.old_mathematics { background: url(../../assets/bgs/old_mathematics.png) top left repeat; }
body.random_grey_variations { background: url(../../assets/bgs/random_grey_variations.png) top left repeat; }
body.type { background: url(../../assets/bgs/type.png) top left repeat; }