/* Hartl CSS */
/* forms */

.gravatar {
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;

    padding: 2px;
    margin-bottom: 8px;
    @include box_sizing;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Matt custom */
.register_form {
  margin-left: 20px;
}

#dialog-form {
  border: 1px solid #ccc;
  padding: 20px;
}

.ui-widget {
  background: white;
}

.ui-widget-overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.items:hover {
  background: black;
  color: black;
}

.followed_items {
    display: inline;
    position: relative;
}

.followed_items:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.followed_items:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.min-height {
  min-height: 210px;
}

.learn_more {
  font-weight: bolder; 
  color: #0000FF; 
  font: 'OpenSansBold';
  font-size: 13px; 
  display: inline;
}

.smaller_size {
  font-size: 11px;
}

.min-height-activities {
  min-height: 170px;
}

#back_button ul {
  overflow: hidden;
  margin: 5px 0 10px;
}
#back_button ul li {
  float: left;
  margin-left: 60px;
}
#back_button ul li a {
  font-size: 16px;
  text-transform: uppercase;
  background: #f8f8f8;
  color: #aeaeae;
  padding: 8px 16px;
  text-decoration: none;
  margin-right: 10px;
  display: block;
  transition: all 0.2s;
}
#back_button ul li a:hover, #back_button ul li a.selected {
  background: #80b600;
  color: white;
}

.item_pop {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.followed_items1 {
    display: inline;
    position: relative;
}

.img-wrap1{
height:314px;
overflow:hidden;
position:relative;
display: inline;
cursor: pointer;
margin-top: 3px;
margin-right: 1px;
}
.img-wrap1:hover {
box-shadow: 0px 2.5px 15px 5px rgba(255, 255, 190, .75);
}
.img-overlay1{
background-color:#000;
bottom:25px;
left: 20%;
padding: 5px 7px;
color:#fff;
opacity:0;
filter: alpha(opacity = 50);
position:absolute;
width:140px;
z-index:98;
border-radius: 5px;
border-width: 6px 6px 0 6px;
}
.img-overlay1 h7, .img-overlay1 p{
padding:0 6px;
}
.img-wrap1:hover .img-overlay1{
opacity:0.75;
filter: alpha(opacity = 75);
transition:opacity 0.25s;
-moz-transition:opacity 0.25s;
-webkit-transition:opacity 0.25s;
}

#see-all {
  text-align: right;
}

#inline {
  display:inline;
}

.b-side {
  line-height: 40px;
  background: url("../assets/button02.jpg") top left repeat-x;
  position: absolute;
  display: inline;
  margin-top: 20px;
  margin-left: 5px;
  width: 90px;
  height: 30px;
  color: rgba(0,0,0,0.6);
  font-family: 'OpenSansRegular';
  box-shadow: 0 2.5px 1px rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 7px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid #333333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
}
.b-side:hover {
  background: url("../assets/button02.jpg") top left repeat-x;
  color: rgba(0,0,0,0.6);
  border: 1px solid #333333;
  box-shadow: 0px 2.5px 15px 5px rgba(255, 255, 190, .75);
}

.description {
  height: 30px;
  width: 210px;
  display: inline;
  margin-bottom: 12px;
}

.profile_photo {
  margin-left: 25px;
  margin-top: -9px;
}

.change_photo {
  margin-left: 20px;
  margin-bottom: -30px;
}

h3.profile_match {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 12px;
    text-align: center;
}

h3.profile_description {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: -15px;
}

h3.matched_user {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: center;
}

.b-matched_user {
  line-height: 40px;
  background: url("../assets/button02.jpg") top left repeat-x;
  position: absolute;
  margin-top: -13px;
  margin-left: 30px;
  margin-bottom: -10px;
  width: 108px;
  height: 30px;
  color: rgba(0,0,0,0.6);
  font-family: 'OpenSansRegular';
  box-shadow: 0 2.5px 1px rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 7px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid #333333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
}
.b-matched_user:hover {
  background: url("../assets/button02.jpg") top left repeat-x;
  color: rgba(0,0,0,0.6);
  border: 1px solid #333333;
  box-shadow: 0px 2.5px 15px 5px rgba(255, 255, 190, .75);
}

.send_message {
  height: 130px;
  width: 175px;
  margin-top: 25px;
}

p.wrap {
  display: inline;
}

.matched_user_image {
  display: inline;
  float: left;
  padding: 9px;
  margin-left: 12px;
}

.other_parents {
  margin-left: 27px;
  bottom: 10px;
  position: absolute;
  font-weight: bold;
}

p.center {
  text-align: center;
  margin-top: 4px;
  margin-bottom: -4px;
}

li.inbox {
  font-weight: bold; 
  color: ##3a3a3a; 
  margin-top: 50px;
  font-family: 'OpenSansBold';
}

p.match {
  margin-left: 24px;
}

.avatar_select {
  display: inline; 
  padding: 11px;
  margin-bottom: 14px;
}  

.avatar_button {
  position: relative;
  margin-left: -39px;
}  

.low_margin {
  margin-top: -18px;
  margin-bottom: 4px;
}  

.b-compose {
  line-height: 20px;
  background: url("../assets/button03.jpg") top left repeat-x;
  width: 65px;
  margin-left: 5px;
  margin-bottom: -25px;
  color: rgba(0,0,0,0.6);
  font-family: 'OpenSansRegular';
  box-shadow: 0 0px 0px rgba(0,0,0,0.25);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid #648e00;
  text-shadow: 0 0px rgba(255, 255, 255, 0.25);
}
.b-compose:hover {
  background: url("../assets/button03.jpg") top left repeat-x;
  color: blue;
  border: 1px solid #648e00;
  box-shadow: 0px 2.5px 15px 5px rgba(255, 255, 190, .75);
}

h3.inbox {
  font-family: 'OpenSansRegular';
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 2px;
  text-align: center;
}

.send_message2 {
  height: 130px;
  width: 400px;
  margin-top: 5px;
}

h3.compose {
  font-family: 'OpenSansRegular';
  font-size: 19px;
  margin-top: 2px;
  text-align: center;
}

.button_center {
  margin-left: 175px;
  margin-top: -15px;
}