<div class="followed_items">
    <% current_user.activity_following.each do |followed_activity| %>
            <% if followed_activity.image_path.present? %>
              <%= image_tag followed_activity.image_path, size: "40" %>
            <% else %>
              <%= image_tag followed_activity.uploader_image, size: "40" %>
            <% end %>
    <% end %>
</div>