                <% if current_user.activity_following.blank? %>
                  "Start adding some activities"
                <% else %>
                  <% current_user.activity_following.each do |activity| %>
                    <%= render :partial => 'activities/followed_activities', :locals => { :activity => activity} %>
                    <%= render :partial => 'js/followed_activities.js.erb', :locals => { :activity => activity } %>
                  <% end %>
                  <div id= "see-all" data-no-turbolink>
                    <%= link_to "See All My Activities", activity_following_user_path(@user) %>
                  </div>
                <% end %>			