                <% if current_user.activity_following.blank? %>
                <br/>
                  <p class="center">Activities you add to your profile will go here</p>
                <br/>
                <% else %>
                  <% current_user.activity_following.first(21).each do |activity| %>
                    <%= render :partial => 'activities/followed_activities', :locals => { :activity => activity} %>
                    <%= render :partial => 'js/followed_activities.js.erb', :locals => { :activity => activity } %>
                  <% end %>
                  <div id= "see-all" data-no-turbolink>
                    <%= link_to "See All My Activities", activity_following_user_path(@user), class: "clickable" %>
                  </div>
                <% end %>			