<div class="followed_items">
    <% current_user.place_following.each do |followed_place| %>
            <% if followed_place.image_path.present? %>
              <%= image_tag followed_place.image_path, size: "40" %>
            <% else %>
              <%= image_tag followed_place.uploader_image, size: "40" %>
            <% end %>
    <% end %>
</div>