  					<div class="four columns portfolio-item places">
        				<br />
        				<br />
            			<h4>Click here to create your own Place</h4>
            			<br />
					<%= link_to "Create Place", new_place_path, id: 'create_place', style:"color:white", class: "b-new3" %> 
  					</div>