         <div id="content">  
            <div class="four columns portfolio-item places">
                <br />
                <br />
                  <h4>Click here to create your own Place</h4>
                  <br />
                  <%= link_to "Create Place", new_subscription_path(:plan_id => 1), style:"color:white", class: "b-new3" %>
            </div>
        </div>
