         <div id="content">  
            <div class="four columns portfolio-item places">
                <br />
                <br />
                  <h4>Click here to create your own Place</h4>
                  <br />
                  <div class="premium", style="color:white"> Click here</div>
            </div>
        </div>
