                <% if current_user.place_following.blank? %>
                <p class="center">Add Local Places to Your Dashboard</p>
                <br/>
                <%= render 'layouts/placeholder' %>
                <% else %>
                  <% current_user.place_following.each do |place| %>
                    <%= render :partial => 'places/followed_places', :locals => { :place => place} %>
                    <%= render :partial => 'js/followed_places.js.erb', :locals => { :place => place } %>
                  <% end %>
                  <div id= "see-all" data-no-turbolink>
                    <%= link_to "See All My Places", place_following_user_path(@user) %>
                  </div>
                <% end %>			