                <% if current_user.place_following.blank? %>
                <br/>
                <p class="center">Places you add to your profile will go here</p>
                <br/>
                <% else %>
                  <% current_user.place_following(:limit => 21).each do |place| %>
                    <%= render :partial => 'places/followed_places', :locals => { :place => place} %>
                    <%= render :partial => 'js/followed_places.js.erb', :locals => { :place => place } %>
                  <% end %>
                  <div id= "see-all" data-no-turbolink>
                    <%= link_to "See All My Places", place_following_user_path(current_user), class: "clickable" %>
                  </div>
                <% end %>			