<div class="four columns">
    <h3 class="sign_up">To find out more about this item, please sign up! It only takes a second and it's totally free.</h3>
    <%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white" %>
</div>